:root{
    --navBgColor: linear-gradient(45deg, #BABABA, #707070);
    --navfontCol: #3B3B3B;
}
.navContainer{
    color: var(--navfontCol);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--navBgColor);
}

.logo{
    border: solid 2px grey;
    padding: 10px;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    list-style: none;
    padding: 10px;
}

